html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#mapid
{
    height: 100%;
    width: 100%;
}

#ui
{
    position: fixed;
    z-index: 1000000;
    font-family: "Roboto", sans-serif;
    letter-spacing: .04em;
    font-weight: 300;
}

#ui h2, h3
{
    font-family: "Roboto Medium", sans-serif;
    font-weight: 300;
}

/* Moves the zoom control */
.leaflet-control-zoom.leaflet-bar.leaflet-control
{
    position: fixed;
    right: 1%;
    bottom: 3%;
}

.leaflet-popup {
    margin-bottom: 32px;
}


#header
{
    position: fixed;
    height: 45px;
    width: 100%;
    color: white;
    box-sizing: border-box;
    background: #00254A; /* color picked from Pitt website */
    line-height: 45px;
}

#header a{
  color: white;
}

#logo{
  float: left;
  margin: 0 10px 0 15px;
  max-width: 45px;
  max-height: 45px;
}

#header h1
{
    float: left;
    margin: 0;
    padding: 0 0 0 4px;
    font-weight: lighter;
    font-size: 1.6em;
}

#header ul
{
    float: right;
    margin: 0;
    padding: 0 0 0 0;
    list-style-type: none;
    background-color: transparent;
}

#header li
{
    float: left;
    height: 45px;
    box-sizing: border-box;
    width: 100px;
}

#header li a
{
    display: block;
    height: 45px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    color: white;

}

#header li a:hover
{
    background-color: #061428;
}

#sidebarToggleContainer #sidebarToggle
{
    position: fixed;
    top: calc(50% - 24px);
    padding-top: 5px;
    z-index: 9999;
}

#sidebarToggle:hover
{
    cursor: pointer;
}

#sidebarToggleContainer .fa-chevron-right
{
    background: #0D2A52;
    color: white;
    box-shadow: 2px 2px 10px #555555;
    padding-left: 2px;
    padding-right: 0px;
}

#sidebarToggleContainer .fa-chevron-left
{
    left: 232px;
    color: #0D2A52
}

#sidebar footer
{
    position: fixed;
    bottom: 0;
    right: 1;
    width: 255px;
    height: 20px;
    font-size: 10px;
    z-index: 9999;
    background-color: transparent;
}

#sidebar
{
    position: fixed;
    top: 45px;
    padding: 15px;
    width: 250px;
    height: 100%;
    background: rgba(250,250,250,0.85);
    box-shadow: 2px 2px 10px #a3a3a3;
}

.shown
{
    display: block;
}

.hidden
{
    display: none;
}

#controls
{
    position: relative;
    overflow-y: auto;
    height: 100%;
    text-align: left;
}

/* divIcon pins */
/* base styles */
.map-pin
{
    position: relative;

    width: 32px;
    height: 32px;
}

.map-pin:before
{
    position: absolute;
    top: 10%;
    left: 50%;

    width: 24px;
    height: 24px;

    content: ' ';
    transform: translateX(-50%) rotate(-45deg);
    white-space: nowrap;

    border: solid 1px black;
    border-radius: 50% 50% 50% 0;
}

.map-pin:after
{
    position: absolute;
    /*z-index: -1;*/
    top: 100%;
    left: 50%;

    width: 32px;
    height: 12px;

    content: ' ';
    transform: translate(-50%, -25%);

    border-radius: 50%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}

.map-pin i
{
    font-size: 16px;

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

/* pin colors */
.map-pin.blue:before
{
    background: dodgerblue; /* FIXME: I'm a placeholder color */
}

.map-pin.red:before
{
    background: orangered; /* FIXME: I'm a placeholder color */
}

.map-pin.green:before
{
    background: springgreen; /* FIXME: I'm a placeholder color */
}

.map-pin.yellow:before
{
    background: yellow; /* FIXME: I'm a placeholder color */
}

.map-pin.black:before
{
    background: #404040; /* FIXME: I'm a placeholder color */
}

/* We also need to invert the black pin's text color */
.map-pin.black
{
    color: white; /* FIXME: I'm a placeholder color */
}
