html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#notifications
{
    position: fixed;
    top: 45px;
    left: 300px;
    height: auto;
    width: 50%;
    margin: 5px;
    box-sizing: border-box;
}

.notification
{
    display: block;
    float: left;
    height: 20%;
    width: 100%;
    margin: 2px;
    padding: 12px;
    opacity: 0.95;
    color: #144C70;
    background-color: #c9eeff;
    box-sizing: border-box;
    border: solid;
    border-width: thin;
    border-color: #80d7ff;
    border-radius: 4px;
}

.notification.error
{
    color: #660a00;
    background-color: #ffcec9;
    border-color:  #ffa399;
}
.notification.warning
{
    color: #996900;
    background-color: #ffeec9;
    border-color: #ffdf99;
}
.notification.success
{
    color: #1b6600;
    background-color: #d7ffc9;
    border-color: #b4ff99;
}

.notification button.close
{
    float: right;
    font-weight: bold;
    margin-top: -15px;
    margin-right: -10px;
    text-decoration: none;
    border: none;
    outline: none;
    color: black;
    background-color: transparent;
    cursor: pointer;
}

.retry
{
    position: relative;
    left: 45%;
    margin-top: 3px;
    background-color: transparent;
    border-style: none;
}

.retry p
{
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
}

.retry:hover
{
    background-color: transparent;
    border-style: solid;
    border-color: gray;
    border-radius: 3px;
}

#mapid
{
    height: 100%;
    width: 100%;
}

#ui
{
    position: fixed;
    z-index: 1000000;
    font-family: "Roboto", sans-serif;
    letter-spacing: .04em;
    font-weight: 300;
}

#ui h2, h3
{
    font-family: "Roboto Medium", sans-serif;
    font-weight: 300;
}

/* Moves the zoom control */
.leaflet-control-zoom.leaflet-bar.leaflet-control
{
    position: fixed;
    right: 1%;
    bottom: 3%;
}

.leaflet-popup {
    margin-bottom: 32px;
}

#header
{
    position: fixed;
    height: 45px;
    width: 100%;
    color: white;
    box-sizing: border-box;
    background: #00254A; /* color picked from Pitt website */
    line-height: 45px;
}

#header a{
  color: white;
}

#logo{
  float: left;
  margin: 0 10px 0 15px;
  max-width: 45px;
  max-height: 45px;
}
#logo img{
  max-width: 45px;
  max-height: 45px;
}

#header h1
{
    float: left;
    margin: 0;
    padding: 0 0 0 4px;
    font-weight: lighter;
    font-size: 1.6em;
}

#header ul
{
    float: right;
    margin: 0;
    padding: 0 0 0 0;
    list-style-type: none;
    background-color: transparent;
}

#header li
{
    float: left;
    height: 45px;
    box-sizing: border-box;
    width: 100px;
}

#header li a
{
    display: block;
    height: 45px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    color: white;

}

#header li a:hover
{
    background-color: #061428;
}

#sidebarToggle
{
    position: fixed;
    top: calc(50% - 24px);
    padding-top: 5px;
    z-index: 9999;
}

#sidebarToggle:hover
{
    cursor: pointer;
}

#sidebarToggle.fa-chevron-right
{
    background: #0D2A52;
    color: white;
    box-shadow: 2px 2px 10px #555555;
    padding-left: 2px;
    padding-right: 0px;
}

#sidebarToggle.fa-chevron-left
{
    left: 232px;
    color: #0D2A52
}

#sidebar footer
{
    position: fixed;
    bottom: 1px;
    width: 250px;
    height: 20px;
    font-size: 10px;
    z-index: 9999;
    background-color: transparent;
}

#sidebar.mapMode
{
    position: fixed;
    top: 45px;
    padding: 15px;
    width: 250px;
    height: 100%;
    background: rgba(250,250,250,0.85);
    box-shadow: 2px 2px 10px #a3a3a3;
}

#sidebar.dataMode
{
    position: fixed;
    top: 45px;
    padding: 15px 15px 15px 15px;
    width: 100%;
    height: 100%;
    background: rgba(250,250,250,0.85);
    box-shadow: 2px 2px 10px #a3a3a3;
}

#dataArea
{
    position: fixed;
    margin-left: 250px;
    height: 90%;
    width: auto;
    overflow: scroll;
}

#dataArea.controlsHidden { margin-left: 30px; }

#dataTable
{
    table-layout: fixed;
    width: 100%;
}

#dataTable tr:nth-child(even)
{
    background-color: #d8d8d8;
}

#dataTable th
{
    position: sticky;
    top: 0;
    color: white;
    background: #00254A;
}

#dataTable .col1 { width: 75px; text-align: center; }
#dataTable .col2 { width: 375px; text-align: center; }
#dataTable .col3 { width: 75px; text-align: center; }
#dataTable .col4 { width: 75px; text-align: center; }

.shown  { display: block; }
.hidden { display: none; }

#controls
{
    position: absolute;
    overflow-y: auto;
    width: 250px;
    height: auto;
    text-align: left;
}

#dateSelection
{
    display: flex;
}

button
{
    background-color: #fff;
    font-size: 14px;
    border: 1px solid lightgrey;
    margin-left: -1px;
    padding: 5px 5px;
}

#dateSelection:first-child
{
    margin-left: 1px;
}

button:hover
{
    background-color: #eee;
    cursor: pointer;
}

button:active
{
    background-color: #bbb;
}

#typeSelection input[type=checkbox] {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    vertical-align: -3px;
}

/* divIcon pins */
/* base styles */
.map-pin
{
    position: relative;

    width: 32px;
    height: 32px;
}

.map-pin:before
{
    position: absolute;
    top: 10%;
    left: 50%;

    width: 24px;
    height: 24px;

    content: ' ';
    transform: translateX(-50%) rotate(-45deg);
    white-space: nowrap;

    border: solid 1px black;
    border-radius: 50% 50% 50% 0;
}

.map-pin:after
{
    position: absolute;
    /*z-index: -1;*/
    top: 100%;
    left: 50%;

    width: 32px;
    height: 12px;

    content: ' ';
    transform: translate(-50%, -25%);

    border-radius: 50%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}

.map-pin i
{
    font-size: 16px;

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

/* pin colors */
.map-pin.blue:before
{
    background: dodgerblue; /* FIXME: I'm a placeholder color */
}

.map-pin.red:before
{
    background: orangered; /* FIXME: I'm a placeholder color */
}

.map-pin.green:before
{
    background: springgreen; /* FIXME: I'm a placeholder color */
}

.map-pin.yellow:before
{
    background: yellow; /* FIXME: I'm a placeholder color */
}

.map-pin.black:before
{
    background: #404040; /* FIXME: I'm a placeholder color */
}

.map-pin.darkorchid:before
{
    background: darkorchid;
}

/* We also need to invert the black pin's text color */
.map-pin.black
{
    color: white; /* FIXME: I'm a placeholder color */
}

@media only screen and (max-width: 600px)
{
    #notifications
    {
        left: 0px;
        margin: 0px;
        width: 100%;
    }

    .notification
    {
        margin: 0px;
        border-radius: 0px;
    }

    #dataArea.controlsShown { top: 60px; }

    #dataArea.controlsHidden
    {
        position: fixed;
        margin-left: 5px;
        margin-right: 5px;
        width: 98vw;
        box-sizing: border-box;
    }

    #controls
    {
        position: static;
        margin-bottom: 15px;
        overflow-y: auto;
        width: 100%;
        height: auto;
        text-align: left;
    }

    #sidebar.dataMode.controlsHidden { padding-left: 0px; }
}
