html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer
{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 20px;
	z-index: 9999;
	background-color: transparent;
}

#mapid
{
    height: 100%;
    width: 100%;
}

#ui
{
    position: fixed;
    z-index: 1000000;
    font-family: "Roboto", sans-serif;
}

#ui h3
{
    font-family: "Roboto Medium", sans-serif;
    font-weight: normal;
}

/* Moves the zoom control */
.leaflet-control-zoom.leaflet-bar.leaflet-control
{
    position: fixed;
    right: 1%;
    bottom: 3%;
}

#header
{
    position: fixed;
    height: 30px;
    width: 100%;
    color: white;
    box-sizing: border-box;
    background: #0D2A52;
}

#header h3
{
    float: left;
    margin: 0;
    padding: 4px 0 0 10px;
}

#header ul
{
    float: right;
    margin: 0;
    padding: 0 10px 0 0;
    list-style-type: none;
    background-color: transparent;
}

#header li
{
    float: left;
    height: 30px;
    box-sizing: border-box;
}

#header li a
{
    display: block;
    height: 30px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    padding: 5px;
}

#header li a:hover
{
    background-color: #061428;
}

#sidebar
{
    position: fixed;
    top: 30px;
    padding: 15px;
    width: 250px;
    height: 500px;
    background: rgba(250,250,250,0.85);
    box-shadow: 2px 2px 10px #a3a3a3;
}

#controls
{
    position: relative;
    overflow-y: auto;
    height: 100%;
    text-align: left;
}
